* {
	box-sizing: border-box;
	font-size: 15px;
	margin: 0px;
	font-family: "Arial", Verdana, sans-serif;

}

h1 {
	font-size: 1.75em;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
	font-family: "Verdana", Arial, serif;
}

.row > div {
	border: 3px solid black;
	background-color: #A0A0A0;
	margin-bottom: 15px;
}

.title {
	font-size: 1.25em ;
	text-align: center;
	font-weight: bold;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	width: 40%;
	display: block;
	float: right;
}

#Chicken {
	background-color: #FF9999;
}

#Beef {
	background-color: #FF6633;
	color: white;
}

#Sushi {
	background-color: #FFFF99;
}

div > p {
	clear: right;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	width: 90%;

}

.row {
	width: 100%;
	padding-left : 20px;
	padding-right: 20px;
}

/* Large devices */
@media (min-width: 992px) {
	.col-lg-3 {
		float: left;
		width: 31.5%;
	}

	.row > div:nth-child(2) {
		margin: 0 2.7%;
	}

	h1 {
		margin-bottom: 50px;
	}
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 49%;
	}

	.row > div:nth-child(2) {
		float:right;
	}

	 .row > div:nth-child(3) {
		width: 100%;
	}
}

/* Small devices */
@media (max-width: 767px) {
	.col-sm-12 {
	
		width: 100%;
	}

	.row {
		padding-right: 30px;
		padding-left: 30px;
	}
}
